<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors>
            <error redirect="http://ly37.w3.luyouxia.net/error/404.html" statusCode="404" />
            <error redirect="http://ly37.w3.luyouxia.net/error/500.html" statusCode="500" />
        </customErrors>
    </system.web>
</configuration>
